@model Watchlist.Data.Movie

@{
    ViewData["Title"] = "Edit";
}

@*The Edit form and the Create form are nearly identical*@

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @*this tage indicates where a summary of the validation errors will display.*@
            @*asp-validation-summary values are,*@
            @*All-,will display both propery and model validation messages*@
            @*ModelOnly-,will only display model level validation messages*@
            @*None*- the tag will do nothing*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                @*All data entry errors will be indicated by the red text Eg: if a required field is kept empty*@
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                @*All data entry errors will be indicated by the red text*@
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@*you could change this "Back to List" to a cancel button as*@
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
